.cast__list {
  display: grid;
  /* max-width: calc(100vw - 48px); */
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  grid-gap: 15px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px 0 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.cast__item {
  background-color: black;
  border-radius: 5px;
  border: 1px solid rgb(219, 223, 20);
}
.cast__image {
  width: 100%;
}

.cast_name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}
.cast__title {
  text-align: center;
  margin-bottom: 5px;
  color: rgb(219, 223, 20);
}
.cast__p {
  text-align: center;
  color: white;
}
